{
   "Version": "2012-10-17",
   "Statement": [
      {
         "Sid": "AllowReadAccessToInterana",
         "Effect": "Allow",
         "Principal": {
            "AWS": "arn:aws:iam::<INTERANA_ACCOUNT_ID>:root"
         },
         "Action": [
            "s3:GetBucketLocation",
            "s3:ListBucket"
         ],
         "Resource": [
            "arn:aws:s3:::<BUCKET_PATH>"
         ]
      }
   ]
}
